.skilldiv {
  text-align: center;
  background-color: teal;
}

.skilldiv > h1 {
  font-size: 45px;
  background-color: teal;
  color: white;
  padding: 10px;
}

.skouter {
  width: 65%;
  /* border: solid red; */
  margin: auto;
}
.frontend {
  display: flex;
  /* border: solid red; */
  padding: 50px;
  justify-content: space-between;
  align-items: center;
}
.skf1 > h1 {
  text-decoration: underline;
  color: #272341;
  padding: 10px;
  margin: 0;
}
.skf1 img {
  height: 120px;
}
