.skilldiv {
  text-align: center;
  background-color: teal;
}

.skilldiv > h1 {
  font-size: 45px;
  background-color: teal;
  color: white;
  padding: 10px;
}
.frontend {
  display: flex;
  /* border: solid red; */
  padding: 50px;
  justify-content: space-around;
  align-items: center;
}
.skf1 > h1 {
  text-decoration: underline;
  color: #272341;
  padding: 10px;
  margin: 0;
}
.skf1 img {
  height: 120px;
}

@media (max-width: 820px){
  
  .skilldiv > h1 {
    font-size: 35px;
    padding: 10px;
  }
  .frontend {
    display: flex;
    /* border: solid red; */
    padding: 40px;
    justify-content: space-between;
    align-items: center;
  }
  .skf1 > h1 {
    text-decoration: underline;
    color: #272341;
    padding: 7px;
    margin: 0;
  }
  .skf1 img {
    height: 90px;
  }
  
}
@media (max-width: 550px){
  .skilldiv > h1 {
    font-size: 28px;
    padding: 7px;
  }
  .frontend {
    /* border: solid red; */
    padding: 25px;
  }
  .skf1 > h1 {
    text-decoration: underline;
    color: #272341;
    padding: 7px;
    margin: 0;
  }
  .skf1 img {
    height: 75px;
  }
}

@media (max-width: 414px){
  .skilldiv > h1 {
    font-size: 28px;
    padding: 7px;
  }
  .frontend {
    /* border: solid red; */
    padding: 25px;
  }
  .skf1 > h1 {
    text-decoration: underline;
    color: #272341;
    padding: 7px;
    margin: 0;
  }
  .skf1 img {
    height: 65px;
  }
}