body {
  /* background-color: #272341; */
  margin: 0;
  font-family: 'Chonburi', cursive;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-family: 'Heebo', sans-serif;
  font-family: 'Roboto Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
