.pDiv{
    /* border: solid red 1px; */
    /* height: 1000px;; */
    text-align: center;
    margin: 30px;
}
#heading{
    font-size: 45px;
    color: #272341;
}
.outer{
    /* border: solid red 1px; */
    /* height: 500px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:  auto 7%;
    gap: 30px;
}

.outer> div{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    /* position: relative; */
}
.outer div img{
    width: 100%;
}

.outer > div:hover{
    height: 105%;
    width: 105%;
}
.repobtn{
    display: flex;
    justify-content: space-around;
}
.repobtn p{
    background-color:#272341;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
}
.tech{
    display: flex;
    width: fit-content;
    margin: auto;
}
.tech1{
    border-bottom: solid 1px #272341;
    border-top: solid 1px #272341;
    margin: 10px;
}
.tech p{
    font-size: 15px;
    margin: 10px;
    background-color: #272341;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;

}