.about{
    text-align: center;
    /* border: solid red; */
    /* height: 300px; */
    color: #272341;
}
.about h1{
    margin-top: 50px;
    font-size: 50px;
}

.content{
    font-size: 22px;
    width: 1000px;
    margin: auto;
}
